# Environment variables for my_node_project

## Server configuration
NODE_ENV=test # test allows to nuke the db, use "development" or use "production" in production environment when deploying
PORT=3000

## System user 
SYSTEM_USER_ID=0 # ID of the system user
SYSTEM_USER_NAME=system # Name of the system user
SYSTEM_USER_EMAIL=system@example.com # Email of the system user
SYSTEM_USER_ROLE=99 # Role of the system user
SYSTEM_USER_PASSWORD=system_password # Password of the system user

## Audit log configuration
WITH_AUDIT_LOGS=false # Set to true to enable audit logs, false to disable

##JWT
JWT_KEY=key here

## Database configuration
DB_NAME=my_db
TEST_DB_NAME=my_test_db
DB_USER=user
DB_PASSWORD=userpassword
DB_ADDR=127.0.0.1
DB_PORT=3306

NUKE_DATABASE_ON_INIT=false # true # Set to true to drop and recreate the database on initialization

## Database table configuration
DB_AUDIT_LOGS_TABLE=audit_logs
DB_USERS_TABLE=users
DB_ORDERS_TABLE=orders

#Frontend configuration
USE_VUE=true # Set to true to use Vue.js frontend, false to use static HTML frontend
VUE_ENV=development # production if built